<div class='alignment'>
  <div class='houses'>
  <% @houses.each do |house| %>
  <br>
    <p>Category: House</p>
    <p> floors <%= house.floors%></p>
    <p> Price $<%= house.price%></p>
    <p> Rooms <%= house.rooms%></p>
    <div class='imgh'><%= image_tag(house.icon, class: 'bigpics') %></div>
    <br>
    <button>Buy now</button>
    <% end %>
  </div>
    <div class='houses'>
    <br>
      <% @commercial_units.each do |unit| %>
    <p>Category: commercial units</p>
    <p> shops <%= unit.shops%></p>
    <p> Price $<%= unit.price%></p>
    <p> Rooms <%= unit.parking%></p>
    <div class='imgh'><%= image_tag(unit.icon, class: 'bigpics') %></div>
    <br>
    <button>Buy Now</button>
    <% end %>
    </div>
    <div class='houses'>
    <br>
  <% @complex_buildings.each do |building| %>
    <p>Category: Complex building</p>
    <p> Units <%= building.units%></p>
    <p> Price $<%= building.price%></p>
    <p> Square meter <%= building.sqmt%></p>
    <div class='imgh'><%= image_tag(building.icon, class: 'bigpics') %></div>
    <br>
    <button>Buy Now</button>
    <% end %>
  </div>
</div>